* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('Imagenes/Fondo_negro_azulado.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}    

.box{
    width: 1000px;
    background: rgba(142, 142, 142, 0.33);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-img{
    margin-top: 35px;
    border-radius: 10%;
}

.box h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 30px 0 10px;
}

.box h2{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: left;
}

.box h3{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: left;
}

.box h4{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: left;
}

.box h5{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: left;
}

.box h6{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: left;
}

.box p {
    text-align: justify;
}

.lista1 {
    text-align: left;
    margin: 0px 35px 20px;
}

.lista2 {
    text-align: left;
    margin: 0px 35px 20px;
}

.lista3 {
    text-align: left;
    margin: 0px 35px 20px;
}

.lista4 {
    text-align: left;
    margin: 0px 35px 20px;
}

.tabla1{
    border: rgb(255, 255, 255);
    margin-bottom: 35px;
}